{% extends 'blog/base.html' %}

{% block page-main %}
    <div class="article-list">
        {% for article in article_list %}
            <div class="article ">
                <h3><a href="/blog/{{ article.user.username }}/article/{{ article.pk }}">{{ article.title }}</a></h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/media/{{ article.user.avatar }}" alt="" width="80px"
                                 height="80px">
                        </a>
                    </div>
                    <div class="media-body">
                        <p>{{ article.desc }}</p>
                    </div>
                </div>
                <div class="article-foot">
                    <span><a href="/blog/{{ article.user.username }}/">{{ article.user.username }}</a></span>发布于
                    <span>{{ article.create_time|date:'Y-m-d H:i:s' }}</span>
                    <span><i class="fa fa-comment-o fa-fw "></i>评论({{ article.comment_set.all.count }})</span>
                    <span><i class="fa fa-thumbs-up fa-fw"></i>点赞({{ article.articleupdown_set.all.count }})</span>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block brand %}
    {{ blog.title }}的个人博客
{% endblock %}