<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontAwesome/css/font-awesome.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container{
            margin-top: 150px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="user">用户名</label>
                    <input type="text" id="user" placeholder="用户名" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pwd">密码</label>
                    <input type="password" id="pwd" placeholder="密码" class="form-control">
                </div>
                <div class="form-group">
                    <div id="popup-captcha"></div>
                </div>
                <input type="button" class="btn btn-default login_btn" value="提交">
                <span class="errors"></span>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'JS/jquery-3.3.1.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'JS/login2_js.js' %}"></script>
<!-- 引入封装了failback的接口--initGeetest -->
<script src="http://static.geetest.com/static/tools/gt.js"></script>
</body>
</html>